<div id="edit-user-profile" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/dashboard/edit-user-profile.less</em>, <em>assets/js/pages/dashboard/edit-user-profile.page.js</em>, and <em>api/controllers/dashboard/view-edit-user-profile.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
