<!--     Fonts and icons     -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"
/>
<!-- Nucleo Icons -->
<link href="css/nucleo-icons.css" rel="stylesheet" />
<link href="css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script
  src="https://kit.fontawesome.com/42d5adcbca.js"
  crossorigin="anonymous"
></script>
<!-- Material Icons -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
  rel="stylesheet"
/>
<!-- CSS Files -->
<link
  id="pagestyle"
  href="css/material-dashboard.css?v=3.0.0"
  rel="stylesheet"
/>
<div id="activatelicense" style="margin-bottom: 80vh;" v-cloak>
  <div class="container">
    <div class="card col-xl-4 mt-4 shadow-dark p-3">
      <h3>Activate License</h3>
      <p>Activate your license to have access to the streaming bot.</p>
      <ajax-form action="activateLicense" :form-data="formData" @submitted="activateLicense()" :form-errors.sync="formErrors" :syncing.sync="syncing" :cloud-error.sync="cloudError"  >
        <div class="input-group input-group-outline">
          <label class="form-label">Enter License Key...</label>
          <input type="text" class="form-control" id="license" v-model.trim="formData.licenseKey" required aria-required>
          <ajax-button class="btn btn-primary">Activate</ajax-button>
          <div v-if="formErrors.licenseKey">Please enter your license key</div>
        </div>
        <cloud-error v-if="cloudError==='invalid'">
          <p class="text-primary">You entered an invalid license key</p>
        </cloud-error>
        <cloud-error v-if="cloudError==='used'">
          <p class="text-info">You entered a used license key</p>
        </cloud-error>
        <cloud-error v-if="cloudError==='failure'">
          <p class="text-primary">License Key Activation Failed</p>
        </cloud-error>
        <div v-if="cloudSuccess">
          <p class='text-success'>License Key Activated, You can now use our bot services.</p>
        </div>
      </ajax-form>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
