<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How Do I Activate My Subscription?</h4>
      <p>To activate your subscription, Go to your dashboard and click on the activate license key, there you would find a small form to enter your license key, once you enter it, your access to the bot service will be active for 30 days.</small></p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How do I get my License key?</h4>
      <p><a href="/contact">Contact</a> the admin on making payment for your license key, once payment is confirmed your license key will be delivered so you can activate it on your dashboard.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
