<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How Do I Activate My Subscription?</h4>
      <p>To activate your subscription, Go to your dashboard and click on the activate license key, there you would find a small form to enter your license key, once you enter it, your access to the bot service will be active for 30 days.</small></p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How do I get my License key?</h4>
      <p><a href="https://t.me/musicprofit4" class='text-info'>Contact</a> the admin to make payment for your license key, once payment is confirmed your license key will be delivered so you can activate it on your dashboard.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How long is my license key valid?</h4>
      <p>Your license key grants you access to the platform for 30 days.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>How many devices can I use the license Key?</h4>
      <p>You can only use your license key on one device alone, attempt to use it on another device will result in your license key revoked.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
