<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <div class="d-flex flex-row justify-content-center">
        <img src="./audiobaze.png"/>
      </div>
      <h1 class="display-4 pb-1">Welcome to the <strong>Audiobaze</strong> <br /> Platform.</h1>
      <p style="font-size: 35px;">Reward for your music.</p>
      <div>
        <a href="/login" class="btn btn-outline-info">Login</a>
        <a href="/signup" class="btn btn-info">Sign Up</a>
      </div>
      <div>
        <a href="https://t.me/musicprofit4" target="_blank" class="btn btn-info shadow-info">Contact Audiobaze <span class="material-icons">telegram</span></a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
