<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <div class="d-flex flex-row justify-content-center">
        <img src="./audiobaze.png"/>
      </div>
      <h1 class="display-4 pb-5">Welcome to the <strong>Audiobaze</strong> Platform.</h1>
      <div>
        <a href="/login" class="btn btn-outline-info">Login</a>
        <a href="/signup" class="btn btn-info">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
