<!--     Fonts and icons     -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"
/>
<!-- Nucleo Icons -->
<link href="css/nucleo-icons.css" rel="stylesheet" />
<link href="css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script
  src="https://kit.fontawesome.com/42d5adcbca.js"
  crossorigin="anonymous"
></script>
<!-- Material Icons -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
  rel="stylesheet"
/>
<!-- CSS Files -->
<link
  id="pagestyle"
  href="css/material-dashboard.css?v=3.0.0"
  rel="stylesheet"
/>
<div id="services" v-cloak>
  <div class="container py-5">
    <div class="mb-4">
      <h1>Our Hosting Services</h1>
      <p>Take a look at our renewable and single use hosting plans.</p>
    </div>
    <div class="row">
      <div class="col-xl-6 mt-1 mb-5 xl-mb-0 mb-3">
        <div class="card shadow-dark p-3">
          <div
            class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">language</i>
          </div>
          <div class="text-end text-capitalize">
            <h3 class="mt-5">VPS Hosting Plan</h3>
            <h4>Rdp Windows Vps Cpu 4 Core Ram 4 GB SSD 40 GB ReNEWabLe</h4>
            <p>
              ✔ USA, Singapore and Germany datacenter location<br />
              ✔ Windows 2012, 2016 and Ubuntu <br />✔ Full Administrator <br />✔
              CPU : Intel Xeon 3 GHz 4 Core <br />✔ RAM 4 GB <br />✔ SSD 40 GB
              <br />✔ RENEWAL (MONTHLY) <br />✔ 1 IP Public IPV4 <br />✔ Full
              Guarantee <br />✔ Full Service Support <br />✔ Dedicated VPS = $18
            </p>
            <p>
              <span class="text-warning text-capitalize">Note</span> : recommend
              using SG (Singapore) location for SEO tools (GSA and etc) Vps is
              fully managed by provider.
            </p>
            <a href="https:/t.me/musicprofit4" class="btn btn-info">Buy Hosting</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mt-1 mb-5 xl-mb-0 mb-3">
        <div class="card shadow-dark p-3">
          <div
            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">language</i>
          </div>

          <div class="text-end text-capitalize">
            <h3 class="mt-5">VPS Hosting Plans</h3>
            <h4>
              Big Size Rdp Windows Vps Cpu 8 Core Ram 16GB SSD 80 GB ReNEWal
            </h4>
            <p>
              ✔ USA datacenter location<br />
              ✔ Windows 2012<br />
              ✔ from OVH dedicated server<br />
              ✔ Full Administrator<br />
              ✔ CPU : Intel Xeon 3 GHz 8 Core<br />
              ✔ RAM 16 GB<br />
              ✔ SSD 80 GB<br />
              ✔ RENEWAL (MONTHLY)<br />
              ✔ 1 IP Public IPV4<br />
              ✔ Full Guarantee<br />
              ✔ Full Service Support= $45
            </p>
            <a href="https:/t.me/musicprofit4" class="btn btn-success">Buy Hosting</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mt-1 mb-5 xl-mb-0 mb-3">
        <div class="card shadow-dark p-3">
          <div
            class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">language</i>
          </div>

          <div class="text-end text-capitalize">
            <h3 class="mt-5">Physical Dedicated server</h3>
            <!-- <h4>
              Big Size Rdp Windows Vps Cpu 8 Core Ram 16GB SSD 80 GB ReNEWal
            </h4> -->
            <p>
              ✔ USA datacenter location<br />
              ✔ Windows 2012<br />
              ✔ from OVH dedicated server<br />
              ✔ Full Administrator<br />
              ✔ CPU : Intel Xeon 3 GHz 8 Core<br />
              ✔ RAM 16 GB<br />
              ✔ SSD 80 GB<br />
              ✔ RENEWAL (MONTHLY)<br />
              ✔ 1 IP Public IPV4<br />
              ✔ Full Guarantee<br />
              ✔ Full Service Support= $66/Month
            </p>
            <a href="https:/t.me/musicprofit4" class="btn btn-primary">Buy Hosting</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-4">
        <h3>Non Renewable</h3>
      </div>
      <div class="col-xl-6 mt-1 mb-5 xl-mb-0 mb-3">
        <div class="card shadow-dark p-3">
          <div
            class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">language</i>
          </div>
          <div class="text-end text-capitalize">
            <h4 class="mt-5">
              Windows / Ubuntu VPS RDP 8 CORE CPU AMD EPYC 32 GB RAM 500 GB
            </h4>
            <p>
              ✔ Full Administrator <br/> ✔ Open Port by request <br/>✔ 8 Core CPU 2.2 GHz <br/>✔
              AMD EPYC <br/>✔ 32 GB RAM <br/>✔ Storage 500 GB <br/>✔ Unlimited Bandwith <br/>✔
              Operating System : LINUX ( UBUNTU ) / WINDOWS 2012 / 2016 and 2019
              <br/>✔ VPS : <br/>✔ Location : USA and SINGAPORE <br/>✔ ONLY RUNNING IN 30 DAYS
              (CAN NOT EXTEND/RENEW MONTHLY) = $45
            </p>
            <p>
              <span class="text-warning text-capitalize">Note</span> : recommend
              using SG (Singapore) location for SEO tools (GSA and etc) Vps is
              fully managed by provider.
            </p>
            <a href="https:/t.me/musicprofit4" class="btn btn-info">Buy Hosting</a>

          </div>
        </div>
      </div>
      <div class="col-xl-4 mt-1 mb-5">
        <div class="card shadow-dark p-3">
          <div
            class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">language</i>
          </div>

          <div class="text-end text-capitalize">
            <h3 class="mt-5">Single Use Plans</h3>
            <p>
              Fast Delivery Windows VPS 4 Core CPUs 8 GB RAM 160 GB SSD = $20
            </p>
            <a href="https:/t.me/musicprofit4" class="btn btn-success">Buy Hosting</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 mt-1 mb-5">
        <div class="card shadow-dark p-3">
          <div
            class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 position-absolute"
          >
            <i class="material-icons opacity-10">language</i>
          </div>

          <div class="text-end text-capitalize">
            <h3 class="mt-5">Single Use Plans</h3>
            <p>
              Fast Delivery - Windows VPS RDP 6 Core CPUs 16 GB RAM 320 GB SSD Suitable for SEO Tools = $35
            </p>
            <a href="https:/t.me/musicprofit4" class="btn btn-warning">Buy Hosting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */
exposeLocalsToBrowser() %>
